<div
  style="
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
  "
>
  <div
    style="
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    "
  >
    <div
      style="
        background-color: #5d8aa8;
        padding: 10px;
        text-align: center;
        color: white;
        border-radius: 8px 8px 0 0;
      "
    >
      <h1 style="margin: 0">TEKNE CLUB</h1>
    </div>

    <div style="padding: 20px">
      <h2>Reply Details:</h2>
      <p><strong>Responder:</strong> {{ responder }}</p>
      <p><strong>Reply to:</strong> {{ subject }}</p>
      <p><strong>Reply:</strong></p>
      <p>{{ message }}</p>
    </div>
  </div>
</div>
