{% load static %}
<!-- New Message Notification Container -->
{% if pending_count > 0 %}
<div
  id="msg-notif-toast-1"
  class="fixed bottom-4 right-4 bg-blue-500 text-white px-4 py-3 rounded-lg shadow-lg flex items-center space-x-3 slide-in-notif"
  data-target="msg-notif-toast-1"
>
  <a class="flex space-x-3" href="{% url 'chat_messages:messages' %}">
    <i class="fas fa-envelope text-xl"></i>
    <div class="flex-1">
      <p class="msg-notif-toast-message text-sm font-semibold"></p></div
  ></a>
  <button class="msg-close-notif text-white ml-4 hover:text-gray-200">
    <i class="fas fa-times text-xl"></i>
  </button>
</div>
{% endif %}

<!-- Unread Replies Notification Container -->
{% if unread_replies > 0 %}
<div
  id="msg-notif-toast-2"
  class="fixed {% if pending_count > 0 %} bottom-16 {% else %} bottom-4 {% endif %} right-4 bg-green-500 text-white px-4 py-3 rounded-lg shadow-lg flex items-center space-x-3 slide-in-notif"
  data-target="msg-notif-toast-2"
>
  <a class="flex space-x-3" href="{% url 'chat_messages:users-messages' %}">
    <i class="fas fa-bell text-xl"></i>
    <div class="flex-1">
      <p class="msg-notif-toast-message text-sm font-semibold"></p>
    </div>
    <button class="msg-close-notif text-white ml-4 hover:text-gray-200">
      <i class="fas fa-times text-xl"></i>
    </button>
  </a>
</div>
{% endif %}

<!-- -->
{% if pending_count or unread_replies %}
<script src="{% static 'js/msg-notif.js' %}"></script>
{% endif %}

<!-- New Message Notification Script -->
{% if pending_count > 0 %}
<script>
  const message1 = new MessageNotif("msg-notif-toast-1");
  message1.notify("You have {{ pending_count }} new messages");
</script>

{% endif %}

<!-- Unread Replies Notification Script -->
{% if unread_replies > 0 %}
<script>
  const message2 = new MessageNotif("msg-notif-toast-2");
  message2.notify("You have {{ unread_replies }} unread replies");
</script>
{% endif %}
