.dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
  max-width: 1000px;
  background-color: #222222;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  max-height: 80vh;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.dialog-close:hover,
.dialog-close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
