{% extends "base.html" %}
<!-- -->
{% block content %}
<!-- Pending Messages -->
{% if pending_messages %}
<h2 class="text-2xl font-bold mb-4">Unreplied Messages</h2>
<!-- prettier-ignore -->
<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">#</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Sender</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Name</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Email</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Subject</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Content</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Sent At</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Status</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for message in pending_messages %}
      <tr class="border-t border-gray-300">
        <td class="py-2 px-4 text-sm text-gray-700">{{ forloop.counter }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sender }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.name }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.email }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.subject }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.content|truncatechars:50 }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sent_at|date:"Y-m-d H:i" }}</td>
        <td class="py-2 px-4 text-sm">
          <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-yellow-100 text-yellow-800">
            {{ message.status }}
          </span>
        </td>
        <td class="py-2 px-4 text-sm">
          <div class="flex space-x-2">
            <!-- Reply Button -->
            <a href="" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded text-sm">
              Reply
            </a>
            <!-- Mark as Spam Button -->
            <a href="" class="bg-yellow-500 hover:bg-yellow-600 text-white py-1 px-3 rounded text-sm">
              Spam
            </a>
            <!-- Delete Button -->
            <button
            data-target="deleteUnrepliedDialog-{{message.pk}}"
            class="openDialogBtn bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded text-sm"
          >
            Delete
          </button>
          <!-- Delete Confirmation Dialog -->
          <div id="deleteUnrepliedDialog-{{message.pk}}" class="dialog">
            <div class="dialog-content">
              <span class="dialog-close">&times;</span>
              <h2 class="text-red-600 font-bold text-xl md:text-2xl">
                Are you sure you want to delete "{{ message.subject | title }}"?
              </h2>

              <form
                action="{% url 'chat_messages:delete-message' message.pk %}"
                method="post"
                id="deleteUnrepliedMessage-{{message.pk}}"
                class="flex justify-center mt-4"
              >
                {% csrf_token %}
                <button
                  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 mt-2 rounded"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<!-- Replied Messages -->
{% if replied_messages %}
<h2 class="text-2xl font-bold mt-5 mb-4">Replied Messages</h2>
<!-- prettier-ignore -->
<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">#</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Sender</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Name</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Email</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Subject</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Sent At</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Responder</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Replied At</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Status</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for message in replied_messages %}
      <tr class="border-t border-gray-300">
        <td class="py-2 px-4 text-sm text-gray-700">{{ forloop.counter }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sender }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.name }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.email }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.subject }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sent_at|date:"Y-m-d H:i" }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">
         {{ message.reply_set.first.responder.user.first_name | title }} {{ message.reply_set.first.responder.user.last_name | title }}
        </td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.reply_set.first.replied_at|date:"Y-m-d H:i" }}</td>
        <td class="py-2 px-4 text-sm">
          <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-green-100 text-green-800">
            {{ message.status }}
          </span>
        </td>
        <td class="py-2 px-4 text-sm">
          <div class="flex space-x-2">
            <!-- View Button -->
            <a href="" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded text-sm">
              View
            </a>
            <!-- Delete Button -->
            <button
            data-target="deleteRepliedDialog-{{message.pk}}"
            class="openDialogBtn bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded text-sm"
          >
            Delete
          </button>
          <!-- Delete Confirmation Dialog -->
          <div id="deleteRepliedDialog-{{message.pk}}" class="dialog">
            <div class="dialog-content">
              <span class="dialog-close">&times;</span>
              <h2 class="text-red-600 font-bold text-xl md:text-2xl">
                Are you sure you want to delete "{{ message.subject | title }}"?
              </h2>

              <form
                action="{% url 'chat_messages:delete-message' message.pk %}"
                method="post"
                id="deleteRepliedMessage-{{message.pk}}"
                class="flex justify-center mt-4"
              >
                {% csrf_token %}
                <button
                  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 mt-2 rounded"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<!-- Spam Messages -->
{% if spam_messages %}
<h2 class="text-2xl font-bold mt-5 mb-4">Spam Messages</h2>
<!-- prettier-ignore -->
<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">#</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Sender</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Name</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Email</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Subject</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Content</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Sent At</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Status</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for message in spam_messages %}
      <tr class="border-t border-gray-300">
        <td class="py-2 px-4 text-sm text-gray-700">{{ forloop.counter }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sender }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.name }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.email }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.subject }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.content|truncatechars:50 }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sent_at|date:"Y-m-d H:i" }}</td>
        <td class="py-2 px-4 text-sm">
          <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-red-100 text-red-800">
            {{ message.status }}
          </span>
        </td>
        <td class="py-2 px-4 text-sm">
          <div class="flex space-x-2">
            <!-- View Button -->
            <a href="" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded text-sm">
              View
            </a>
            <!-- Delete Button -->
            <button
            data-target="deleteSpamDialog-{{message.pk}}"
            class="openDialogBtn bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded text-sm"
          >
            Delete
          </button>
          <!-- Delete Confirmation Dialog -->
          <div id="deleteSpamDialog-{{message.pk}}" class="dialog">
            <div class="dialog-content">
              <span class="dialog-close">&times;</span>
              <h2 class="text-red-600 font-bold text-xl md:text-2xl">
                Are you sure you want to delete "{{ message.subject | title }}"?
              </h2>

              <form
                action="{% url 'chat_messages:delete-message' message.pk %}"
                method="post"
                id="deleteSpamMessage-{{message.pk}}"
                class="flex justify-center mt-4"
              >
                {% csrf_token %}
                <button
                  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 mt-2 rounded"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<!-- -->
{% endblock %}
