{% extends "base.html" %}
<!-- -->
{% block content %}
<!-- -->
{% if pending_messages or replied_messages or spam_messages %}
<!-- Pending Messages -->
{% if pending_messages %}
<h2 class="text-2xl font-bold mb-4">Unreplied Messages</h2>
<!-- prettier-ignore -->
<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">#</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Subject</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Content</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Sent At</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Status</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for message in pending_messages %}
      <tr class="border-t border-gray-300">
        <td class="py-2 px-4 text-sm text-gray-700">{{ forloop.counter }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.subject }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.content|truncatechars:50 }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sent_at|date:"Y-m-d H:i" }}</td>
        <td class="py-2 px-4 text-sm">
          <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-yellow-100 text-yellow-800">
            {{ message.status }}
          </span>
        </td>
        <td class="py-2 px-4 text-sm">
          <div class="flex space-x-2">
            <!-- View Button -->
            <a href="{% url 'chat_messages:display-message' message.pk %}" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded text-sm">
              View
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<!-- Replied Messages -->
{% if replied_messages %}
<h2 class="text-2xl font-bold mt-5 mb-4">Replied Messages</h2>
<!-- prettier-ignore -->
<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">#</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Subject</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Sent At</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Responder</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Replied At</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Status</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for message in replied_messages %}
      <tr class="border-t border-gray-300">
        <td class="py-2 px-4 text-sm text-gray-700">{{ forloop.counter }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.subject }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sent_at|date:"Y-m-d H:i" }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">
         {{ message.reply_set.first.responder.user.first_name | title }} {{ message.reply_set.first.responder.user.last_name | title }}
        </td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.reply_set.first.replied_at|date:"Y-m-d H:i" }}</td>
        <td class="py-2 px-4 text-sm">
          <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-green-100 text-green-800">
            {{ message.status }}
          </span>
        </td>
        <td class="py-2 px-4 text-sm">
          <div class="flex space-x-2 items-center">
            <!-- View Button -->
            <a href="{% url 'chat_messages:display-message' message.pk %}" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded text-sm">
              View
            </a>
            {% if not message.reply_set.first.is_read %}
            <!-- Mark as Read Button -->
            <form
              action=""
              method="post"
            >
              {% csrf_token %}
              <button
                class="bg-green-500 hover:bg-green-600 text-white py-1 px-3 rounded text-sm "
              >
                Mark as Read
              </button>
            </form>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<!-- Spam Messages -->
{% if spam_messages %}
<h2 class="text-2xl font-bold mt-5 mb-4">Spam Messages</h2>
<!-- prettier-ignore -->
<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">#</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Subject</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Content</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Sent At</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Status</th>
        <th class="py-2 px-4 bg-gray-100 text-left text-sm font-semibold text-gray-700">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for message in spam_messages %}
      <tr class="border-t border-gray-300">
        <td class="py-2 px-4 text-sm text-gray-700">{{ forloop.counter }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sender }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.name }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.email }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.subject }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.content|truncatechars:50 }}</td>
        <td class="py-2 px-4 text-sm text-gray-700">{{ message.sent_at|date:"Y-m-d H:i" }}</td>
        <td class="py-2 px-4 text-sm">
          <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-red-100 text-red-800">
            {{ message.status }}
          </span>
        </td>
        <td class="py-2 px-4 text-sm">
          <div class="flex space-x-2">
            <!-- View Button -->
            <a href="{% url 'chat_messages:display-message' message.pk %}" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded text-sm">
              View
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<!-- -->
{% else %}
<p class="text-center text-xl text-gray-500 mt-5">No messages available</p>
{% endif %}

<!-- -->
{% endblock %}
