{% extends 'base.html' %}
<!-- -->
{% load static %}
<!-- -->
{% load custom_filters %}
<!-- -->
{% block content %}
<!-- -->
<section class="mt-20 px-4">
  <h2 class="text-4xl font-bold text-center">All Blogs</h2>

  <hr
    class="w-3/4 h-px mt-20 mb-20 bg-gray-300 border-0 dark:bg-gray-600 opacity-80 mx-auto"
  />

  <!-- Search Input and Button -->
  <div class="flex justify-center mb-8">
    <input
      type="text"
      placeholder="Search..."
      class="bg-gray-800 appearance-none border border-gray-700 rounded py-2 px-4 text-white w-1/2"
    />
    <button
      class="bg-gray-700 hover:bg-gray-600 text-white font-bold p-2 rounded-r-md"
    >
      Search
    </button>
  </div>

  <!-- Filter By Category -->
  <!-- prettier-ignore -->
  <div class="flex justify-center items-center text-center">
      <form method="GET" action="">
        <div class="mb-4">
          <label for="category" class="block text-xl font-bold mb-2">
            Filter by Category:
          </label>
          <select name="category" id="category" onchange="this.form.submit()"
                  class="block w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-600">
            <option value="">All Categories</option>
            {% for category in categories %}
      <option value="{{ category.slug }}" 
              {% if selected_category == category.slug %}selected{% endif %}>
        {{ category.name }} ({{ category.post_count }})
      </option>
    {% endfor %}
          </select>
        </div>
      </form>
  </div>

  {% if all_blogs %}
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-10 w-11/12 mx-auto"
  >
    {% for blog in all_blogs %}
    <div class="bg-gray-800 p-4 rounded flex flex-col h-full">
      <h3 class="text-2xl font-semibold mt-4">
        <a
          href="{% url 'core:blog-detail' slug=blog.slug %}"
          class="hover:text-white"
        >
          {{ blog.title | truncate_html:50 | safe | title }}
        </a>
      </h3>
      <!-- prettier-ignore -->
      <div class="text-gray-300 text-sm mt-2">
        <p>
          Published on {{ blog.created_at | date:"F d, Y" }} by
          <a href="{% url 'users:profile' blog.author.slug %}" class="font-medium underline hover:text-white"
            >{{ blog.author }}</a
          >
        </p>
    </div>
      <p class="mt-2 flex-grow">
        {{ blog.content | truncate_html:250 | safe }}
      </p>
      <div class="mt-2 flex justify-start">
        <a
          href="{% url 'core:blog-detail' blog.slug %}"
          class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded inline-block"
          >Read more</a
        >
      </div>
      {% if user == blog.author.user %}
      <!-- Action Buttons -->
      <div class="mt-4 flex justify-center space-x-4">
        <button
          data-target="deleteDialog-{{blog.id}}"
          class="openDialogBtn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        >
          Delete
        </button>
        <form action="{% url 'core:edit-post' blog.slug %}" method="post">
          {% csrf_token %}
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Edit
          </button>
        </form>
      </div>
      <!-- Post Status -->
      <div class="mt-2 flex justify-center">
        <span class="text-sm font-medium">
          Status: {% if blog.status == 'Published' %}
          <span
            class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"
            >Published</span
          >
          {% elif blog.status == 'Draft' %}
          <span
            class="bg-yellow-100 text-yellow-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"
            >Draft</span
          >
          {% elif blog.status == 'Archived' %}
          <span
            class="bg-gray-100 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"
            >Archived</span
          >
          {% else %}
          <span
            class="bg-red-100 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"
            >Unknown</span
          >
          {% endif %}
        </span>
      </div>
      <!-- Delete Confirmation Dialog -->
      <div id="deleteDialog-{{blog.id}}" class="dialog">
        <div class="dialog-content">
          <span class="dialog-close">&times;</span>
          <h2 class="text-red-600 font-bold text-xl md:text-2xl">
            Are you sure you want to delete "{{ blog.title | title }}"?
          </h2>

          <form
            action="{% url 'core:delete-post' blog.slug %}"
            method="post"
            id="delete-post-{{blog.id}}"
            class="flex justify-center mt-4"
          >
            {% csrf_token %}
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 mt-2 rounded"
            >
              Delete
            </button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center text-xl text-gray-500 mt-10">No blogs available</p>
  {% endif %}
</section>
<!-- Pagination -->
<div class="flex justify-center mt-8">
  <nav aria-label="Page navigation">
    <ul class="flex space-x-2">
      {% if all_blogs.has_previous %}
      <li>
        <a
          href="?page={{ all_blogs.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}"
          class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-l-md"
        >
          Previous
        </a>
      </li>
      {% endif %}
      <!---->
      {% for num in all_blogs.paginator.page_range %}
      <li>
        {% if all_blogs.number == num %}
        <span class="bg-gray-600 text-white px-4 py-2"> {{ num }} </span>
        {% else %}
        <a
          href="?page={{ num }}{% if selected_category %}&category={{ selected_category }}{% endif %}"
          class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2"
        >
          {{ num }}
        </a>
        {% endif %}
      </li>
      {% endfor %}
      <!---->
      {% if all_blogs.has_next %}
      <li>
        <a
          href="?page={{ all_blogs.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}"
          class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-r-md"
        >
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
