{% extends 'base.html' %}
<!---->
{% block content %}
<div class="max-w-md mx-auto mt-10 shadow-md rounded px-8 pt-6 pb-8">
  <h2 class="text-center text-2xl custom-color font-bold mb-4">
    Password Reset Complete
  </h2>
  <p class="text-gray-300 text-center mb-6">
    Your password has been successfully reset. You can now log in with your new
    password.
  </p>

  <div class="flex justify-center">
    <a
      href="{% url 'users:login' %}"
      class="mt-5 bg-gray-700 text-white py-2 px-4 rounded hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50"
    >
      Log In
    </a>
  </div>
</div>
{% endblock %}
