{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}TEKNE CLUB{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tinytoast.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dialog.css' %}" />
    <link rel="stylesheet" href="{% static 'css/msg-notif.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lightGallery.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/prism-material-oceanic.css' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}

    <!-- Content -->
    <div class="container mx-auto flex-grow p-4 sm:p-6">
      {% block content %} {% endblock %}
    </div>

    <!-- Contact Us Notifications -->
    {% include 'partials/_notifications.html' %}

    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/dialog.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/tinytoast.js' %}"></script>
    <script src="{% static 'js/testimonial.js' %}"></script>
    <script src="{% static 'js/lightGallery.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>

    <!-- Global Messages -->
    {% if messages %}
    <script>
      const tinytoast = new TinyToast();
      {% for message in messages %}
      tinytoast.{{ message.tags }}("{{ message }}");
      {% endfor %}
    </script>
    {% endif %}

    <!-- Custome scripts -->
    {% block scripts %} {% endblock %}
  </body>
</html>
